@keyframes rotated {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotated {
    animation: rotated infinite 20s linear;
  }
}
