.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 200;

  &.size-large {
    font-size: 5rem;
  }

  &.size-small {
    font-size: 2rem;
  }
}
