.link {
  color: var(--main-link-color);
  cursor: pointer;
  transition: opacity 0.2s;
  will-change: opacity;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
